body {
    background-color: #3e5d8c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2e3a60;
    text-align: center;
    margin-top: 50px;
    box-shadow: #333 0px 5px 15px;
    padding: 20px;
    border-radius: 10px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
}
.botão {
    display: inline-block;
    background-color: #2e3a60;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: #000 0px 2px 5px;
    animation: infinite 0.5s ease-in-out;
}

.botão:hover {
    background-color: #1a1f30;
    animation: infinite 0.5s ease-in-out;
}
.botao2 {
     height: 100vh; /* Altura da tela toda */
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
}